h1 {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#canvasContainer {
	width: 100%;
	text-align: center;
}

#SplashScreen{
	width: 100%;
	text-align: center;
}

#blah {
	display: inline;
}

#directions{
	width: 100%;
	text-align: center;
}

h3 {
	display: inline-block;
}

#two {
	padding-left:5em;
}

#three {
	padding-left:5em;
}

#four {
	padding-left:5em;
}