h1 {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-weight: 100;
}

#canvasContainer {
	width: 100%;
	text-align: center;
}

#SplashScreen{
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -50px;
	top: 280px;
	z-index: 99;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 32px;
}

#blah {
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -400px;
}

#directions{
	width: 100%;
	text-align: center;
	margin: 0;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
}

#one {
	position: inline-block;
}

#explanation {
	margin-left: auto;
	margin-right: auto;
	margin-top: 600px;
	width: 700px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.button {
   border-top: 1px solid #000000;
   background: #ffffff;
   padding: 9.5px 19px;
   border-radius: 36px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #120412;
   font-size: 18px;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
